---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main style="min-height: 100vh;">
			<h1>🧑‍🚀 Hello, Astronaut!</h1>
			<p>
				<a href="https://github.com/Zhengqbbb/x-satori" target="_blank" rel="noopener noreferrer">
					x-satori
				</a>
				- This example demonstrates how to use the Astro <a href="https://docs.astro.build/en/guides/endpoints/">file-endpoints</a> to generate <b>posts cover image</b> and <b>Open Graph image</b>.
			</p>
			<hr>
			<ul>
				<li>
					<b>Preview See: --></b> <a href="/blog">Blog</a>
				</li>
				<li>
					<b>Source Code:</b> <a href="https://github.com/Zhengqbbb/x-satori/tree/main/examples/astro-file-endpoint" target="_blank" rel="noopener noreferrer">Zhengqbbb/x-satori/examples/astro-file-endpoint</a>
				</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
